header
    ul.navbar
        li 
        a.navbarButtons(class=currentPage === 'home' ? 'navbarButtons active' : 'navbarButtons', href='index.html') Home
         
        a.navbarButtons(class=currentPage === 'secondpage' ? 'navbarButtons active' : 'navbarButtons', href='secondpage.html') Second Page
         
        a.navbarButtons(class=currentPage === 'thirdpage' ? 'navbarButtons active' : 'navbarButtons', href='third.html') Third Page
         
        a.navbarButtons(class=currentPage === 'fourthpage' ? 'navbarButtons active' : 'navbarButtons', href='fourth.html') Fourth Page
    
                