header
    ul.navbar
        li(class=(currentPage === 'home' ? 'active' : ''))
            a.navbarButtons(href='index.html') Home
        li(class=(currentPage === 'secondPage' ? 'active' : ''))
            a.navbarButtons(href='secondpage.html') Second Page
        li(class=(currentPage === 'thirdpage' ? 'active' : ''))
            a.navbarButtons(href='third.html') Third Page
        li(class=(currentPage === 'fourthpage' ? 'active' : ''))
            a.navbarButtons(href='fourth.html') Fourth Page
    
                