html,
body
  margin: 0
  padding: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

  background-color: $defaultBackgroundColour

// TEXT
h1 
  color: #9994D5
  text-align: center
p 
  color: $defaultParagraphTextColour

// ORDERING
#container 
  max-width: 900px //So we can have empty space on the sides
  margin: 0 auto
  display: grid
  /* this centers the entire page */

.gridContainer
  display: grid
  grid-template-columns: 1fr 3fr // Adjust the column widths as needed */
  gap: 20px // Space between columns */

// CONTENT -------
#leftSidebar
  background-color: $defaultContentBackgroundColour // Example styling */
  padding: 10px
  margin: 20px
  border: 4px
  border-style: dashed
  border-top-style: double
  border-block-color: #D494A6
  border-left-color: #9994D4
  border-right-color: #9994D4
  border-bottom-color: #9994D4
  
#main
  background-color: $defaultContentBackgroundColour
  padding: 10px
  margin: 10px
  border: 4px
  border-style: dashed
  border-top-style: double
  border-block-color: #D494A6
  border-left-color: #D494CD
  border-right-color: #D494CD
  border-bottom-color: #D494CD
