extends ../base/base.pug
block layout 
  #container
    .app
      block vars
      include ../partials/header.pug
      .gridContainer
        #leftSidebar
          block leftSidebar
        #main
          block content
        
      include ../partials/footer.pug